/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* style */

body{
  font: 16px/18px arial, sans-serif;
  background-color: #eaeaea ;
  color: #333;
	background-image: url(../assets/image/background.png);
	background-position: 0 -190px;
	background-size: cover;
}

.container{
  width: 960px;
  margin: auto;
  background-color: white;
}

.header{
	padding: 20px;
	padding-bottom: 10px;
}

.header .judul{
	font-family: 'Times New Roman', Times, serif;
	font-size: 40px;
	font-weight: bold;
	padding-top: 1px;
}

.header ul li{
	display: inline-block;
	margin-top: 20px;
	margin-right: 10px;
	padding-left: 5px;
}

.header a{
	text-decoration: none;
	color: salmon;
}

.header a:hover{
	background-color:yellow;
	color: rgb(56, 7, 253);
}

.sekolah {
	height: 380px;
	background-image: url(../assets/image/Sekolah.png);
	background-size: cover;
	background-position: 0 -165px;
	border-top: 5px solid salmon;
	border-bottom: 5px solid lightblue;
}

.Anak {
	height: 80px;
	padding-top: 10px;
	padding-right: 10px;
	float: right;
}

.main {
	width: 600px;
	padding: 20px;
	box-sizing: border-box;
	float: left;
}

.main h2 {
	font-size: 28px;
	font-weight: bold;
	padding-top: 15px;
}

.main .penulis {
	font-size: 10px;
	margin-top: -5px;
}

.main .penulis a{
	text-decoration: none;
	color: salmon;
	cursor: text;
}

.main p {
	margin-bottom: 20px;
	font-size: 14px;
	text-align: justify;
}

.main .p1 {
	text-indent: 25px;
}

.main .p1 b {
	font-weight: bold;
}

.main .alamat {
	padding-top: 10px;
	text-indent: 25px;
}

/* sidebar */

.sidebar {
	width: 300px;
	float: right;
	padding: 20px;
}

.sidebar h3 {
	color: #333;
	font-weight: bold;
	margin-bottom: 5px;
}

.sidebar .B {
	width: 100px;
	float: left;
	padding-right: 10px;
}

.sidebar p {
	font: 12px/18px arial;
}

/* footer dibawah */

.footer {
	background-color: #333;
	padding: 10px;
}

.footer .copy {
	color: #eaeaea;
	text-align: center;
	font-size: 12px;

}

/* Clearfix */
 .cf:before,
 .cf:after {
		 content: " "; /* 1 */
		 display: table; /* 2 */
 }
 
 .cf:after {
		 clear: both;
 }
