html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Pembatas */

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: #eaeaea;
	background-image: url(img/bg.webp);
}

.nav{
	position: fixed;
	top: 0;
	/* right: 0;
	left: 0;
	bottom: 94%; */
	width: 100%;
	height: 60px;
	z-index: 9999;
	background-color: lightblue;
}

.container{
    width: 960px;
    margin: 80px auto;
	background-color: white;
	position: relative;
}

.container .ribbon{
	text-indent: -9999px;
	background-image: url(img/ribbon.png);
	background-repeat: no-repeat;
	display: inline-block;
	width: 200px;
	height: 200px;
	position: absolute;
	top: -12px;
	right: -11px;
}

header{
	text-align: center;
	padding-top: 10px;
}

header h1{
    font-size: 40px;
    font-weight: bold;
}

header ul li{
    margin-top: 8px;
    display: inline-block;
	margin-bottom: 20px;
}

header ul li a{
	font-size: 18px;
	text-decoration: none;
	margin-right: 5px;
	color: salmon;
	padding: 4px;
}

header ul li a:hover{
	background-color: lightblue;
	color: rgb(255, 255, 255);
}

.banner{
	height: 320px;
	background-image: url(img/background.png);
	background-size: cover;
	background-position: 0 -140px;
	border-top: 5px solid salmon;
	border-bottom: 5px solid lightblue;
}

/* Main */

.main{
	padding: 20px;
	width: 600px;
	float: left;
}

.main .judul{
	text-align: center;
	margin-bottom: 10px;
}

.main .judul h3{
	font-size: 32px;
	font-weight: bold;
}

.main .judul p{
	margin-top: 5px;
	font-size: 13px	;
}

.main .judul p a {
	text-decoration: none;
	color: salmon;
}

.main article{
	text-align: justify;
	font-size: 15px;
}

.main article p{
	margin: 20px 0;
}

/* Sidebar */

.sidebar{
	width: 300px;
	float: left;
}

.sidebar h3 {
	margin: 15px 0;
	font-size: 28px;
	font-weight: bold;
}

.sidebar img{
	float: left;
	margin-right: 10px;
	border-radius: 10px;
}

.sidebar p{
	font-size: 14px;
	color: #666;
	text-align: center;
}

/* Footer */

footer{
	padding: 15px;
	text-align: center;
	color: white;
	background-color: rgb(37, 37, 37);
}



/* Clear Fic FLOAT */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}




